In [60]:
#Importing packages

import pandas as pd 
import numpy as np


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
#Reading raw dataset 

train_dataset=pd.read_csv('../data/raw/train.csv')
test_dataset=pd.read_csv('../data/raw/test.csv')

/var/folders/w6/skyqkqrx1_q7pbxvh4_c7g_00000gn/T/ipykernel_13229/1945781094.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train_dataset=pd.read_csv('../data/raw/train.csv')

In [4]:
# !git add .
# !git commit -m "Adding baseline notebook and reading the datasets"
# !git push

[master 646cbc3] Adding baseline notebook and reading the datasets
 Committer: Daniel Alexander <danielalexander@Daniels-Mac-mini.local>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly. Run the
following command and follow the instructions in your editor to edit
your configuration file:

    git config --global --edit

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 1 file changed, 73 insertions(+)
 create mode 100644 notebooks/1_baseline.ipynb
Enumerating objects: 6, done.
Counting objects: 100% (6/6), done.
Delta compression using up to 8 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 1.08 KiB | 1.08 MiB/s, done.
Total 4 (delta 1), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To github.com:daniel-alexandr/adv_ml_application_assignment_1.git
   0e788df..646cbc3  master -> master

In [24]:
train_dataset.shape

(56091, 64)

In [12]:
train_dataset.head()

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FTM,FTA,FT_per,twoPM,twoPA,twoP_per,TPM,TPA,TP_per,blk_per,stl_per,ftr,yr,ht,num,porpag,adjoe,pfr,year,type,Rec_Rank,ast_tov,rimmade,rimmade_rimmiss,midmade,midmade_midmiss,rim_ratio,mid_ratio,dunksmade,dunksmiss_dunksmade,dunks_ratio,pick,drtg,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
0,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,15.8,16.3,10,14,0.714,26,68,0.382,13,39,0.333,0.3,1.5,13.1,So,2-Jun,NaN,0.258086,89.3938,2.5,2009,all,NaN,1.823646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.321,108.527,0.893017,49.9644,-4.995140,-1.623360,-3.371780,-4.723150,14.5769,-2.781990,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,7be2aead-da4e-4d13-a74b-4c1e692e2368,0.0
1,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,13.6,19.8,30,45,0.667,56,113,0.496,20,51,0.392,1.0,1.1,27.4,So,4-Jun,NaN,1.334920,100.0660,3.4,2009,all,NaN,1.631621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.078,104.017,1.880030,111.9290,0.593024,1.385490,-0.792469,-0.300196,24.5294,-0.052263,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,61de55d9-1582-4ea4-b593-44f6aa6524a6,0.0
2,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,14.7,15.9,45,67,0.672,67,157,0.427,50,154,0.325,0.0,0.9,21.5,Sr,4-Jun,NaN,2.274070,104.1070,1.7,2009,all,NaN,1.081662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.556,102.154,2.763870,115.0210,0.003161,1.024770,-1.021610,0.665065,33.1852,1.548230,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,efdc4cfc-9dd0-4bf8-acef-7273e4d5b655,0.0
3,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,13.7,23.8,14,27,0.519,25,63,0.397,28,62,0.452,0.8,1.9,21.6,Sr,4-Jun,NaN,0.552857,93.2086,2.0,2009,all,NaN,0.942830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.858,106.556,1.218710,84.1698,-0.977798,-0.502574,-0.475224,-0.736233,17.9667,-0.342775,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,14f05660-bb3c-4868-b3dd-09bcdb64279d,0.0
4,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,8.2,22.7,64,114,0.561,93,176,0.528,0,0,0.000,1.9,1.3,64.8,Sr,8-Jun,NaN,1.060130,97.8554,3.8,2009,all,NaN,0.491229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.052,100.724,1.992790,128.0280,-1.836060,-1.946040,0.109983,-2.353180,22.9091,-1.684860,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,a58db52f-fbba-4e7b-83d0-371efcfed039,0.0

In [260]:
train_dataset['type'].unique()

array(['all'], dtype=object)

In [25]:
# Finding the proportion of missing value

train_dataset.isnull().sum()*100/train_dataset.shape[0]

team                    0.000000
conf                    0.000000
GP                      0.000000
Min_per                 0.000000
Ortg                    0.000000
usg                     0.000000
eFG                     0.000000
TS_per                  0.000000
ORB_per                 0.000000
DRB_per                 0.000000
AST_per                 0.000000
TO_per                  0.000000
FTM                     0.000000
FTA                     0.000000
FT_per                  0.000000
twoPM                   0.000000
twoPA                   0.000000
twoP_per                0.000000
TPM                     0.000000
TPA                     0.000000
TP_per                  0.000000
blk_per                 0.000000
stl_per                 0.000000
ftr                     0.000000
yr                      0.520583
ht                      0.174716
num                     8.361413
porpag                  0.000000
adjoe                   0.000000
pfr                     0.000000
year                    0.000000
type                    0.000000
Rec_Rank               69.627926
ast_tov                 7.470004
rimmade                10.841311
rimmade_rimmiss        10.841311
midmade                10.841311
midmade_midmiss        10.841311
rim_ratio              16.872582
mid_ratio              17.271933
dunksmade              10.841311
dunksmiss_dunksmade    10.841311
dunks_ratio            54.898290
pick                   97.529015
drtg                    0.078444
adrtg                   0.078444
dporpag                 0.078444
stops                   0.078444
bpm                     0.078444
obpm                    0.078444
dbpm                    0.078444
gbpm                    0.078444
mp                      0.067747
ogbpm                   0.078444
dgbpm                   0.078444
oreb                    0.067747
dreb                    0.067747
treb                    0.067747
ast                     0.067747
stl                     0.067747
blk                     0.067747
pts                     0.067747
player_id               0.000000
drafted                 0.000000
dtype: float64

In [49]:
train_dataset.describe()

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FTM,FTA,FT_per,twoPM,twoPA,twoP_per,TPM,TPA,TP_per,blk_per,stl_per,ftr,porpag,adjoe,pfr,year,Rec_Rank,ast_tov,rimmade,rimmade_rimmiss,midmade,midmade_midmiss,rim_ratio,mid_ratio,dunksmade,dunksmiss_dunksmade,dunks_ratio,pick,drtg,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,drafted
count,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,56091.000000,17036.000000,51901.000000,50010.000000,50010.000000,50010.000000,50010.000000,46627.000000,46403.000000,50010.000000,50010.000000,25298.000000,1386.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56047.000000,56053.000000,56047.000000,56047.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56053.000000,56091.000000
mean,23.411973,37.325229,91.858295,18.149265,44.575513,47.676882,5.575376,12.673716,10.848740,20.337819,32.926708,47.152627,0.579696,41.412401,85.319160,0.426941,15.677613,45.616480,0.227449,1.876426,1.715305,37.437150,0.775720,89.328297,4.242936,2014.536557,53.456363,0.932305,28.066087,47.052490,14.494741,40.523115,0.564080,0.323633,3.836553,4.311618,0.863570,33.254690,103.319021,103.476636,1.438807,82.827595,-2.525068,-1.896939,-0.628129,-2.525672,16.973259,-2.083375,-0.442297,0.770611,1.892593,2.663204,1.073038,0.529475,0.282825,5.775381,0.009556
std,10.090542,28.061897,30.538819,6.204489,18.213813,17.414133,9.480239,10.878099,9.356001,12.226129,36.870041,49.557538,0.268678,43.730858,85.130054,0.193498,21.584619,58.060609,0.190430,5.876399,2.080477,36.813143,1.333574,30.923798,4.610406,3.450911,27.641745,0.696625,30.144876,47.582825,17.538837,44.401559,0.190824,0.171453,7.943541,8.709568,0.230396,16.651343,10.163752,11.033215,1.064868,65.344533,7.586977,5.184468,4.280805,8.304955,10.623801,6.190166,3.279438,0.738899,1.479148,2.099913,1.171148,0.469152,0.417754,4.953723,0.097287
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-6.792410,-39.021300,0.000000,2009.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,-1330.060000,-1292.020000,-0.857238,0.043033,-102.186000,-92.593500,-57.459400,-242.523000,0.000000,-141.539000,-100.984000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,9.500000,84.100000,14.500000,40.100000,43.930000,1.800000,8.400000,4.600000,14.800000,4.000000,7.000000,0.500000,5.000000,13.000000,0.375000,0.000000,1.000000,0.000000,0.000000,0.900000,19.400000,-0.170944,79.383600,2.800000,2012.000000,30.600000,0.459428,4.000000,8.000000,2.000000,6.000000,0.500000,0.250000,0.000000,0.000000,0.818200,20.000000,99.013850,98.083800,0.525770,19.846900,-5.377530,-3.986970,-2.285125,-5.379030,7.307700,-4.426515,-1.728030,0.225800,0.700000,1.000000,0.222200,0.160000,0.000000,1.571400,0.000000
50%,28.000000,35.900000,97.100000,18.100000,47.700000,50.850000,4.300000,11.900000,9.100000,19.100000,20.000000,31.000000,0.660000,27.000000,60.000000,0.460000,5.000000,18.000000,0.275000,0.800000,1.500000,32.800000,0.390392,94.648900,3.800000,2015.000000,55.400000,0.822562,18.000000,33.000000,8.000000,25.000000,0.580600,0.333300,0.000000,1.000000,1.000000,34.000000,103.671000,103.827000,1.266370,76.607600,-1.817550,-1.333140,-0.576564,-1.788120,16.714300,-1.580380,-0.313051,0.545500,1.633300,2.259300,0.677400,0.424200,0.133300,4.482800,0.000000
75%,31.000000,62.200000,106.900000,21.800000,53.200000,56.060000,8.100000,16.000000,15.100000,24.500000,50.000000,72.000000,0.755000,65.000000,134.000000,0.525000,25.000000,75.000000,0.357000,2.500000,2.200000,47.800000,1.485165,106.589000,5.200000,2018.000000,77.400000,1.263175,43.000000,73.000000,21.000000,61.000000,0.666700,0.402000,4.000000,5.000000,1.000000,48.000000,108.258500,109.315500,2.170135,134.975000,1.403830,1.013650,1.124280,1.399405,26.314300,0.992335,1.066415,1.111100,2.758600,3.833300,1.533300,0.793100,0.366700,9.069000,0.000000
max,41.000000,98.000000,834.000000,50.000000,150.000000,150.000000,1576.600000,1385.000000,100.000000,100.000000,312.000000,374.000000,1.000000,333.000000,678.000000,1.000000,147.000000,394.000000,1.000000,1072.000000,128.300000,1000.000000,8.658190,678.942000,720.000000,2020.000000,100.000000,14.007605,247.000000,358.000000,222.000000,532.000000,1.000000,1.000000,122.000000,132.000000,1.000000,60.000000,131.461000,144.685000,5.800530,360.572000,685.313000,161.995000,523.319000,269.508000,50.000000,225.485000,78.985500,5.933300,11.545500,14.533300,10.000000,4.000000,5.258100,30.090900,1.000000

In [45]:
# EDA pivot table of conf and drafted

pivot_table = train_dataset.pivot_table(index='conf', values='drafted', aggfunc='mean')*100
print(pivot_table)


# Looks like 'conf' variable will have considerable effect on the algorithm

       drafted
conf
A10   0.440917
ACC   4.614715
AE    0.000000
ASun  0.000000
Amer  0.955110
B10   2.543570
B12   3.558926
BE    2.529084
BSky  0.183486
BSth  0.000000
BW    0.069686
CAA   0.426829
CUSA  0.425935
GWC   0.000000
Horz  0.393959
Ind   0.000000
Ivy   0.067659
MAAC  0.000000
MAC   0.052247
MEAC  0.049334
MVC   0.129366
MWC   1.132788
NEC   0.000000
OVC   0.395704
P10   4.096386
P12   4.197202
Pat   0.062933
SB    0.215401
SC    0.112994
SEC   3.910869
SWAC  0.000000
Slnd  0.000000
Sum   0.145773
WAC   0.371195
WCC   0.603622
ind   0.000000

In [46]:
# EDA pivot table of yr and drafted

pivot_table = train_dataset.pivot_table(index='yr', values='drafted', aggfunc='mean')*100
print(pivot_table)

# Doesnt look like its going to be significant, plus there are missing values, better to be removed

       drafted
yr
0     0.000000
42.9  0.000000
57.1  0.000000
Fr    0.852006
Jr    0.710313
So    0.935708
Sr    1.408229

In [53]:
# EDA pivot table of year and drafted

pivot_table = train_dataset.pivot_table(index='year', values='drafted', aggfunc='mean')*100
print(pivot_table)

# Doesnt look like its going to be significant, better to be removed

       drafted
year
2009  1.002397
2010  1.106854
2011  0.945471
2012  1.090275
2013  0.911458
2014  0.889454
2015  0.889077
2016  0.872898
2017  0.948767
2018  0.871784
2019  0.949367
2020  0.993028

In [63]:
# EDA for those who have missing rimmade

train_dataset_missing_rimmade=train_dataset[train_dataset['rimmade'].isnull()]
train_dataset_missing_rimmade.head(10)

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FTM,FTA,FT_per,twoPM,twoPA,twoP_per,TPM,TPA,TP_per,blk_per,stl_per,ftr,yr,ht,num,porpag,adjoe,pfr,year,type,Rec_Rank,ast_tov,rimmade,rimmade_rimmiss,midmade,midmade_midmiss,rim_ratio,mid_ratio,dunksmade,dunksmiss_dunksmade,dunks_ratio,pick,drtg,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
0,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,15.8,16.3,10,14,0.714,26,68,0.382,13,39,0.333,0.3,1.5,13.1,So,2-Jun,NaN,0.258086,89.39380,2.5,2009,all,NaN,1.823646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.3210,108.5270,0.893017,49.96440,-4.995140,-1.623360,-3.371780,-4.723150,14.5769,-2.781990,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,7be2aead-da4e-4d13-a74b-4c1e692e2368,0.0
1,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,13.6,19.8,30,45,0.667,56,113,0.496,20,51,0.392,1.0,1.1,27.4,So,4-Jun,NaN,1.334920,100.06600,3.4,2009,all,NaN,1.631621,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.0780,104.0170,1.880030,111.92900,0.593024,1.385490,-0.792469,-0.300196,24.5294,-0.052263,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,61de55d9-1582-4ea4-b593-44f6aa6524a6,0.0
2,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,14.7,15.9,45,67,0.672,67,157,0.427,50,154,0.325,0.0,0.9,21.5,Sr,4-Jun,NaN,2.274070,104.10700,1.7,2009,all,NaN,1.081662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.5560,102.1540,2.763870,115.02100,0.003161,1.024770,-1.021610,0.665065,33.1852,1.548230,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,efdc4cfc-9dd0-4bf8-acef-7273e4d5b655,0.0
3,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,13.7,23.8,14,27,0.519,25,63,0.397,28,62,0.452,0.8,1.9,21.6,Sr,4-Jun,NaN,0.552857,93.20860,2.0,2009,all,NaN,0.942830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.8580,106.5560,1.218710,84.16980,-0.977798,-0.502574,-0.475224,-0.736233,17.9667,-0.342775,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,14f05660-bb3c-4868-b3dd-09bcdb64279d,0.0
4,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,8.2,22.7,64,114,0.561,93,176,0.528,0,0,0.000,1.9,1.3,64.8,Sr,8-Jun,NaN,1.060130,97.85540,3.8,2009,all,NaN,0.491229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0520,100.7240,1.992790,128.02800,-1.836060,-1.946040,0.109983,-2.353180,22.9091,-1.684860,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,a58db52f-fbba-4e7b-83d0-371efcfed039,0.0
5,Butler,Horz,6,0.7,0.0,0.0,0.0,0.00,0.0,26.3,40.8,0.0,0,0,0.000,0,0,0.000,0,0,0.000,0.0,0.0,0.0,Jr,1-Jun,NaN,-0.478278,-7.62129,4.4,2009,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.7329,94.8147,0.163709,1.67346,-2.932020,-2.430170,-0.501854,2.788110,1.5000,-0.956800,3.744910,0.0000,0.3333,0.3333,0.3333,0.0000,0.0000,0.0000,b2e55b6e-378f-47fd-8f87-6eaa5017fbfe,0.0
6,Longwood,ind,27,77.8,104.8,23.0,53.4,56.30,6.8,14.5,12.1,17.1,94,143,0.657,138,247,0.559,14,51,0.275,2.2,3.0,48.0,Jr,5-Jun,NaN,2.160060,104.27600,4.7,2009,all,NaN,0.777783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.2090,107.4320,2.038600,177.85300,-0.484561,0.462757,-0.947318,0.194857,31.1111,1.103250,-0.908391,2.1481,3.8889,6.0370,1.8148,1.7778,0.7407,15.2593,d2107e36-c138-44cd-b31f-ef2b30a2c84e,0.0
7,Fordham,A10,19,10.4,131.9,3.3,90.0,90.00,2.6,3.2,3.3,30.1,0,0,0.000,0,0,0.000,3,5,0.600,0.0,1.0,0.0,Jr,Jun-00,NaN,0.396135,102.80600,1.4,2009,all,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118.5040,114.7720,0.245620,13.56670,-4.657710,-2.803330,-1.854380,-5.577660,6.1579,-3.490760,-2.086900,0.1579,0.1579,0.3158,0.1053,0.1053,0.0000,0.4737,796395e7-256e-4ab8-911b-944f287f64dc,0.0
8,Wagner,NEC,30,82.8,99.7,20.5,48.8,53.07,2.9,13.9,25.5,23.9,76,109,0.697,82,187,0.439,25,58,0.431,2.6,3.1,44.5,Sr,6-Jun,NaN,1.399390,96.44020,2.1,2009,all,NaN,1.493946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.5982,104.3750,2.516660,204.49400,0.567700,-0.665147,1.232850,1.170260,33.2667,0.250984,0.919272,0.8000,3.9333,4.7333,4.1333,1.7333,0.8000,10.5000,9416f499-bb4a-41ba-af0f-7cacfadb677c,0.0
9,Wagner,NEC,30,80.4,92.5,23.0,43.5,45.29,6.4,12.6,11.9,14.5,64,120,0.533,128,281,0.456,12,55,0.218,0.3,2.3,35.7,Sr,5-Jun,NaN,0.881212,92.16200,2.4,2009,all,17.2,0.945454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0070,108.0200,2.036640,172.97000,-3.658810,-1.925920,-1.732890,-3.805610,32.3000,-1.892540,-1.913070,1.7333,3.4667,5.2000,1.7333,1.2333,0.1000,11.8667,74913834-bae8-4574-9c48-9fe0c75b4ddc,0.0

In [62]:
# Determining whether its ok to remove those observations

train_dataset_missing_rimmade['drafted'].value_counts()/train_dataset['drafted'].value_counts()

# Looks like its safe to remove these observations

drafted
0.0    0.108631
1.0    0.085821
Name: count, dtype: float64

In [183]:
# EDA pivot table of pick and drafted

pivot_table = train_dataset.pivot_table(index='pick', values='drafted', aggfunc='mean')*100
print(pivot_table)

# Looks like pick variable is an important variable, we have to think how to deal with the large amount of misisng values

         drafted
pick
1.0   100.000000
2.0    70.588235
3.0    70.000000
4.0    69.230769
5.0    57.142857
6.0    47.619048
7.0    72.727273
8.0    64.705882
9.0    39.130435
10.0   42.857143
11.0   44.444444
12.0   50.000000
13.0   50.000000
14.0   43.478261
15.0   31.578947
16.0   64.285714
17.0   40.909091
18.0   55.555556
19.0   47.619048
20.0   40.000000
21.0   40.740741
22.0   44.000000
23.0   38.888889
24.0   40.909091
25.0   34.782609
26.0   32.142857
27.0   36.000000
28.0   39.130435
29.0   68.750000
30.0   38.461538
31.0   46.153846
32.0   33.333333
33.0   35.483871
34.0   33.333333
35.0   20.833333
36.0   30.000000
37.0   38.095238
38.0   36.363636
39.0   33.333333
40.0   44.000000
41.0   35.714286
42.0   32.142857
43.0   36.842105
44.0   34.615385
45.0   35.714286
46.0   29.411765
47.0   30.434783
48.0   32.142857
49.0   28.125000
50.0   28.571429
51.0   35.483871
52.0   25.000000
53.0   25.925926
54.0   24.000000
55.0   33.333333
56.0   29.032258
57.0   33.333333
58.0   28.125000
59.0   26.666667
60.0   34.782609

In [184]:
# EDA pivot table of pick and drafted

pivot_table = train_dataset.pivot_table(index='pick', values='drafted', aggfunc='sum', margins=True, margins_name='Grand Total')
print(pivot_table)

# I dont quite understand how the drafting works, but seems like only players who have values in this variable deleting this for experiment A while finding out how it works

             drafted
pick
1.0             12.0
2.0             12.0
3.0              7.0
4.0              9.0
5.0              8.0
6.0             10.0
7.0              8.0
8.0             11.0
9.0              9.0
10.0             9.0
11.0            12.0
12.0            10.0
13.0            11.0
14.0            10.0
15.0             6.0
16.0             9.0
17.0             9.0
18.0            10.0
19.0            10.0
20.0             8.0
21.0            11.0
22.0            11.0
23.0             7.0
24.0             9.0
25.0             8.0
26.0             9.0
27.0             9.0
28.0             9.0
29.0            11.0
30.0            10.0
31.0             6.0
32.0             8.0
33.0            11.0
34.0            10.0
35.0             5.0
36.0             9.0
37.0             8.0
38.0            12.0
39.0             6.0
40.0            11.0
41.0            10.0
42.0             9.0
43.0             7.0
44.0             9.0
45.0            10.0
46.0            10.0
47.0             7.0
48.0             9.0
49.0             9.0
50.0             8.0
51.0            11.0
52.0             6.0
53.0             7.0
54.0             6.0
55.0             9.0
56.0             9.0
57.0             5.0
58.0             9.0
59.0             8.0
60.0             8.0
Grand Total    536.0

In [118]:
# EDA ht

pivot_table = train_dataset.pivot_table(index='ht', values='drafted', aggfunc='mean')*100
print(pivot_table)

# Looks like the height are unusable or need further engineering, possible that stored in ft hence formatting is weird
# Will remove from algo in experiment A

         drafted
ht
-       0.000000
0       0.000000
1-Jul   2.487562
1-Jun   0.480362
1-May   0.000000
10-Jun  2.167804
10-May  0.072569
11-Jun  3.038427
11-May  0.263505
2-Jul   1.136364
2-Jun   0.516351
2-May   0.000000
3-Jul   2.500000
3-Jun   0.760976
3-May   0.000000
4-Jul   0.000000
4-Jun   0.727205
4-May   0.000000
5-Apr   0.000000
5-Jul   0.000000
5-Jun   1.027461
5-May   0.000000
6'4     0.000000
6-Jul   0.000000
6-Jun   1.326570
6-May   0.000000
7-Jun   0.968089
7-May   0.000000
8-Jun   0.945798
8-May   0.000000
9-Jun   1.454363
9-May   0.334448
Apr-00  0.000000
Fr      0.000000
Jr      0.000000
Jul-00  3.522205
Jun-00  0.167560
So      0.000000

In [79]:
# EDA for those who have missing drtg

train_dataset_missing_rimmade=train_dataset[train_dataset['drtg'].isnull()]
train_dataset_missing_rimmade.head()


# Looks like 'drtg','adrtg','dporpag','stops','bpm','obpm','dbpm','gbpm' are consistent as in if drtg is missing then the others are missing

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FTM,FTA,FT_per,twoPM,twoPA,twoP_per,TPM,TPA,TP_per,blk_per,stl_per,ftr,yr,ht,num,porpag,adjoe,pfr,year,type,Rec_Rank,ast_tov,rimmade,rimmade_rimmiss,midmade,midmade_midmiss,rim_ratio,mid_ratio,dunksmade,dunksmiss_dunksmade,dunks_ratio,pick,drtg,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
4597,Boston University,AE,1,0.1,0.0,20.0,0.0,0.0,0.0,0.0,0.0,100.0,0,0,0.0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,-0.293231,0.0000,0.0,2010,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,435e7623-47a1-4f98-93cb-46d94e103429,0.0
4986,Georgia Southern,SC,1,0.1,0.0,26.6,0.0,0.0,0.0,0.0,0.0,0.0,0,1,0.0,0,0,0.0,0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,-0.300794,-2.1793,0.0,2010,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ff7b17c5-6ce6-4aa4-92e3-7c345315479d,0.0
5260,Xavier,A10,1,0.1,63.8,25.7,0.0,0.0,57.3,0.0,0.0,0.0,0,0,0.0,0,0,0.0,0,1,0.0,0.0,0.0,0.0,NaN,NaN,NaN,-0.134001,65.1962,0.0,2010,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33e5e4bb-651d-472c-9055-2308883ba831,0.0
5836,Savannah St.,ind,1,0.1,22.3,20.0,0.0,0.0,250.7,268.2,0.0,54.2,0,0,0.0,0,1,0.0,0,0,0.0,0.0,128.3,0.0,NaN,NaN,NaN,-0.109950,21.1332,240.0,2010,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4078ef68-f189-415c-9c4c-58a5d5c81556,0.0
6020,Holy Cross,Pat,1,0.1,0.0,36.2,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0,1,0.0,0,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,-0.327542,-9.8878,0.0,2010,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d74e5574-ca03-4e35-a457-d61fce98c35c,0.0

In [178]:
# EDA Rec_Rank

pivot_table = train_dataset.pivot_table(index='Rec_Rank', values='drafted', aggfunc='sum' ,margins=True, margins_name='Grand Total')
print(pivot_table)

# Looks like this variable is significant, need to fill out missing value with 0 to capture the state of unranked

39055

In [ ]:
# List of data preprocessing that needs to be done 

# Remove team?
# Remove yr
# Remove type as it only contain 1 value
# Remove num ( not important, and will introduce overfitting )
# Remove ftr ( need definition )
# Remove pfr ( need definition )
# Remove year ( based on EDA, and business asumption )
# Remove player ID (will cause overfit)
# Remove ht ( unusable if not processed, will consider in subsequent experiment )
# I dont quite understand how the drafting works, but seems like only players who have values in 'pick' variable deleting this for experiment A while finding out how it works

# Fill in missing value in ht with average ht ( Remove for experiment A )
# Data engineer Rec_Rank 
# Fill in missing value in ast_tov with mean 
# Engineer dunks_ratio by dunksmade/dunksmiss_dunksmade
# Rec_Rank = need to fill out missing value with 0 to capture the state of unranked

# Remove missing obs from rimmade
# Remove missing obs from drtg
# Remove missing obs from mp

In [80]:
# !git add .
# !git commit -m "Initial EDA"
# !git push

[master 69bbfdc] Initial EDA
 Committer: Daniel Alexander <danielalexander@Daniels-Mac-mini.local>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly. Run the
following command and follow the instructions in your editor to edit
your configuration file:

    git config --global --edit

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 1 file changed, 3070 insertions(+), 7 deletions(-)
Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 8 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 18.04 KiB | 3.61 MiB/s, done.
Total 4 (delta 1), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
To github.com:daniel-alexandr/adv_ml_application_assignment_1.git
   646cbc3..69bbfdc  master -> master

In [293]:
# Copying training and testing dataset


train_dataset_copy=train_dataset.copy()
test_dataset_copy=test_dataset.copy()

In [294]:
# Dropping columns that we deem uneccesary from training and test

columns_to_drop=['team','yr','num','ftr','pfr','year','player_id','ht','pick','type']

train_dataset_copy.drop(columns=columns_to_drop,inplace=True)
test_dataset_copy.drop(columns=columns_to_drop,inplace=True)

In [295]:
# Removing observations with missing values in listed columns

train_dataset_copy.dropna(subset=['rimmade','drtg','mp'],inplace=True)
test_dataset_copy.dropna(subset=['rimmade','drtg','mp'],inplace=True)

In [296]:
# Filling in the missing value in ast_tov with the average ast_tov

# Converting the format of height from string to number

avg_height_train=train_dataset_copy['ast_tov'].mean()

train_dataset_copy['ast_tov'].fillna(avg_height_train,inplace=True)

# Apply to test dataset

avg_height_test=test_dataset_copy['ast_tov'].mean()

test_dataset_copy['ast_tov'].fillna(avg_height_test,inplace=True)

In [297]:
# Replacing dunks_ratio missing value with 0

# Missing value on dunks_ratio are caused by no succesful dunks were made

train_dataset_copy['dunks_ratio'].fillna(0,inplace=True)

# Apply to test dataset

test_dataset_copy['dunks_ratio'].fillna(0,inplace=True)

In [298]:

# Replacing dunks_ratio missing value with 0

# Missing value on dunks_ratio are caused by no succesful rimmshot were made


train_dataset_copy['rim_ratio'].fillna(0,inplace=True)


# Apply to test dataset


test_dataset_copy['rim_ratio'].fillna(0,inplace=True)

In [299]:

# Replacing dunks_ratio missing value with 0

# Missing value on dunks_ratio are caused by no midmade_midmiss were made


train_dataset_copy['mid_ratio'].fillna(0,inplace=True)


# Apply to test dataset


test_dataset_copy['mid_ratio'].fillna(0,inplace=True)

In [300]:
# !git add .
# !git commit -m "Cleaning dataset less engineering part"
# !git push

In [301]:
# Replacing Rec_Rank missing value with 0

# Need to fill out missing value in Rec_Rank with 0 to capture the state of unranked


train_dataset_copy['Rec_Rank'].fillna(0,inplace=True)


# Apply to test dataset


test_dataset_copy['Rec_Rank'].fillna(0,inplace=True)

In [302]:
train_dataset_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50006 entries, 4589 to 56089
Data columns (total 54 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   conf                 50006 non-null  object
 1   GP                   50006 non-null  int64
 2   Min_per              50006 non-null  float64
 3   Ortg                 50006 non-null  float64
 4   usg                  50006 non-null  float64
 5   eFG                  50006 non-null  float64
 6   TS_per               50006 non-null  float64
 7   ORB_per              50006 non-null  float64
 8   DRB_per              50006 non-null  float64
 9   AST_per              50006 non-null  float64
 10  TO_per               50006 non-null  float64
 11  FTM                  50006 non-null  int64
 12  FTA                  50006 non-null  int64
 13  FT_per               50006 non-null  float64
 14  twoPM                50006 non-null  int64
 15  twoPA                50006 non-null  int64
 16  twoP_per             50006 non-null  float64
 17  TPM                  50006 non-null  int64
 18  TPA                  50006 non-null  int64
 19  TP_per               50006 non-null  float64
 20  blk_per              50006 non-null  float64
 21  stl_per              50006 non-null  float64
 22  porpag               50006 non-null  float64
 23  adjoe                50006 non-null  float64
 24  Rec_Rank             50006 non-null  float64
 25  ast_tov              50006 non-null  float64
 26  rimmade              50006 non-null  float64
 27  rimmade_rimmiss      50006 non-null  float64
 28  midmade              50006 non-null  float64
 29  midmade_midmiss      50006 non-null  float64
 30  rim_ratio            50006 non-null  float64
 31  mid_ratio            50006 non-null  float64
 32  dunksmade            50006 non-null  float64
 33  dunksmiss_dunksmade  50006 non-null  float64
 34  dunks_ratio          50006 non-null  float64
 35  drtg                 50006 non-null  float64
 36  adrtg                50006 non-null  float64
 37  dporpag              50006 non-null  float64
 38  stops                50006 non-null  float64
 39  bpm                  50006 non-null  float64
 40  obpm                 50006 non-null  float64
 41  dbpm                 50006 non-null  float64
 42  gbpm                 50006 non-null  float64
 43  mp                   50006 non-null  float64
 44  ogbpm                50006 non-null  float64
 45  dgbpm                50006 non-null  float64
 46  oreb                 50006 non-null  float64
 47  dreb                 50006 non-null  float64
 48  treb                 50006 non-null  float64
 49  ast                  50006 non-null  float64
 50  stl                  50006 non-null  float64
 51  blk                  50006 non-null  float64
 52  pts                  50006 non-null  float64
 53  drafted              50006 non-null  float64
dtypes: float64(46), int64(7), object(1)
memory usage: 21.0+ MB

In [303]:
train_cleaned=train_dataset_copy
test_cleaned=test_dataset_copy

In [304]:
# !git add .
# !git commit -m "Missing values are all fixed, unnecessary columns are removed ( at least for experiment A )"
# !git push

>Now that we have removed the unused variables, and fix the missing values. We want to further process the data, splitting them into target and predictor variables, which then splitted to training and validation.

In [305]:
# Taking out the target variable
target = train_cleaned.pop('drafted')

In [ ]:
# Importing one hot encoder and standard scaler

from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [ ]:
# Instantiate the OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)

In [ ]:
# Transforming cat variables with one hot encoding 
cat_variables=['conf']

categorical_features_train_ohe=ohe.fit_transform(train_cleaned[cat_variables])

In [ ]:
# Turning OHE into dataframe

categorical_features_train_ohe=pd.DataFrame(categorical_features_train_ohe, columns=ohe.get_feature_names_out())

In [ ]:
# Instantiate scaler

scaler= StandardScaler()

In [307]:
# Scaling numerical variables

# Listing all numerical columns
num_columns=list(train_cleaned.select_dtypes('number').columns)

# Fit and transform to scale
scaled_columns=scaler.fit_transform(train_cleaned[num_columns])

In [308]:
# Import dump from joblib

from joblib import dump